{% extends 'blog/base_blog.html' %}


{% block title %}
    No results - {{ block.super }}
{% endblock %}

{% block content %}
    <p>Results for "<strong>{{ search_query }}</strong>" not found.</p>
    <div>
        <form action="{% url 'posts_list_url' %}" method="get">
            <button type="submit" class="btn btn-info">Back to posts list</button>
        </form>
    </div>
{% endblock %}
