{% extends 'blog/base_blog.html' %}


{% block title %}
    Search results - {{ block.super }}
{% endblock %}

{% block content %}
    <h2>Choose category please</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Typename</th>
                <th scope="col">Results found</th>
            </tr>
        </thead>

        <tbody>
            {% for key, value in models_data.items %}
                <td><a href="{{ value.url }}">{{ key }}</a></td>
                <td>{{ value.count }}</td>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
