{% extends 'blog/base_blog.html' %}


{% block title %}
    Search results - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Results for "<strong>{{ search_query }}</strong>":
        </div>

        <div class="card-body">
            {% for obj in page_object.object_list %}
                <div class="col-md-6">
                    <a href="{{ obj.get_absolute_url }}">{{ obj }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
